body{
  background-color: #FFDC7F;
}

nav{
  top:0vh;
  width: 100vw;
  position: fixed;
  background-color: #78B7D0;
  padding: 20px;
  margin: -10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  border-bottom: #16325B 1px solid;
}

nav a{
  text-decoration: none;
  font-size: 18px;
  color: #16325B;
  font-family: Helvetica, sans-serif;
  padding-left: 2vw;
  padding-right: 3vw;
  padding-bottom: 22px;
  padding-top: 22px;
  transition: background-color, color, .3s;
}

nav a:hover{
  background-color:#FFDC7F;
  color:#78B7D0;
}

#welcome-section{
  height: 100vh;
}

.header{
  margin: auto;
  text-align: center;
  margin-top: 25vh;
  color: #16325B;
  font-size: 20vh;
  font-family: Helvetica, sans-serif;
}

.intro{
  margin: auto;
  text-align: center;
  margin-top: 15vh;
  font-size: 3vh;
  color: #16325B;
  font-family: Helvetica, sans-serif;
}

.projects{
  background-color: #16325B;
  padding: 30px;
  margin: -30px;
}

.project-tile:nth-child(1){
  margin-top: 8vh;
}

.project-tile{
  text-align: center;
  display: block flex;
  gap: 10vh;
  flex-direction: column;
  font-family:Helvetica, sans-serif;
  font-size: 3vh;
  margin: auto;
}

.project-tile a{
  text-decoration: none;
  color:#FFDC7F;
}

.project-tile a:nth-child(2){
  height: 50vh;
  width: 25vw;
  align-self: center;
  margin-bottom: 10vh;
}

.project-tile a:nth-child(4){
  height: 50vh;
  width: 25vw;
  align-self: center;
}

.img1{
  align-self: center;
  height: 50vh;
  width: 25vw;
  border-radius: 25%;
  margin:auto;
  margin-bottom: 10vh;
}

.img2{
  align-self: center;
  height: 50vh;
  width: 25vw;
  border-radius: 25%;
  margin:auto;
}

.profiles{
  background-color: #227B94;
  margin: -8px;
  width: 100vw;
  height: 50vh;
}

.title{
  color:#FFDC7F;
  font-size: 3vh;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.vert{
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  justify-content: space-between;
  gap: 5vh;
}

.hori{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-link{
  text-decoration: none;
  color:#16325B;
  background-color:#78B7D0;
  font-family: Helvetica, sans-serif;
  border:#16325B 2px solid;
  padding: 12px;
  border-radius: 10px;
  transition: all, .5s;
}

.profile-link:hover{
  background-color: #16325B;
  color:#FFDC7F;
}

.statement{
  text-align: center;
}

@media screen and (max-width: 700px){
  .img1{
    height: 50vh;
    width: 40vw;
    border-radius: 25%;
  }
  
  .img2{
    height: 50vh;
    width: 40vw;
    border-radius: 25%;
  }
}
